{% extends "base.html" %}

{% block main %}
<h1>Contact Form</h1>
<hr>
<form method="POST" action="/contact">
    {{ form.csrf_token }}
    <div class="form-group">
    <label class="bold-label">{{ form.name.label(class="required-label")}}</label>
    <p>Please enter your full name.</p>
    {{ form.name(size=20) }}
    {% for error in form.name.errors %}
        <p class="error">{{ error }}</p>
    {% endfor %}
    </div>

    <div class="form-group">
    <label class="bold-label">{{ form.email.label(class="required-label")}}</label>
    <p>Please enter your email address.</p>
    {{ form.email(size=20) }}
    {% for error in form.email.errors %}
        <p class="error">{{ error }}</p>
    {% endfor %}
    </div>

    <div class="form-group">
    <label class="bold-label">{{ form.subject.label(class="required-label") }}</label> </p>
    <p>Please enter the subject for your message.</p>
    {{ form.subject(size=20) }}
    {% for error in form.subject.errors %}
        <p class="error">{{ error }}</p>
    {% endfor %}
    </div>

    <div class="form-group">
    <label class="bold-label">{{ form.message.label(class="required-label")}}</label>
    <p>Please enter the message you would like to send.</p>
    {{ form.message(rows=10, cols=50) }}
    {% for error in form.message.errors %}
    <p class="error">{{ error }}</p>
    {% endfor %}
    </div>

    <button type="submit">Send</button>
</form>

{% endblock %}
